/*---------------------------------------------------------------------------*\
 |  About.css                                                                |
 |                                                                           |
 |  Copyright © 2017-2019, Rajiv Bakulesh Shah, original author.             |
 |                                                                           |
 |      This program is free software: you can redistribute it and/or modify |
 |      it under the terms of the GNU General Public License as published by |
 |      the Free Software Foundation, either version 3 of the License, or    |
 |      (at your option) any later version.                                  |
 |                                                                           |
 |      This program is distributed in the hope that it will be useful, but  |
 |      WITHOUT ANY WARRANTY; without even the implied warranty of           |
 |      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    |
 |      General Public License for more details.                             |
 |                                                                           |
 |      You should have received a copy of the GNU General Public License    |
 |      along with this program.  If not, see:                               |
 |          <http://www.gnu.org/licenses/>                                   |
\*---------------------------------------------------------------------------*/

.About {
  position: relative;
  margin: 24px;
}

.About h1, .About h2 {
  margin: 0 0 48px;
  width: 768px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.About h2 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 400;
  text-transform: none;
}

.About p {
  margin: 0 0 48px;
  max-width: 640px;
  line-height: 1.5;
  text-transform: none;
}

.About p:last-of-type {
  margin: 0;
}
